/* wow classy this is like to color and yeah uhh idrk.............. */
body{
  background-image: url('assets/putin.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.button{
  border: none;
  background-color: black;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.upgrade{
  background-color: #d9d9d9; /* Green */
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
}
.centered{
    font-family: Tahoma;
    text-align: center;
    margin: 10%;
}
